
# Development Paths
export JAVA_HOME="/usr/lib/jvm/jdk1.7.0_80"
export JRE_HOME="$JAVA_HOME/jre"
export ANDROID_HOME="$DEV/lib/AndroidSDK"
export LD_LIBRARY_PATH="/usr/lib64"

# Tomcat Path
export CATALINA_HOME="/opt/tomcat"
export PATH=$PATH:$CATALINA_HOME/bin

# Linux Environment Paths
export HOME_DRIVE="/home/jaxson"

# Windows Subsystem Drive Path
if [[ $(hostname -s) = Jaxson-PC ]]; then
    export HOME_DRIVE="/mnt/d/"
fi

# More Paths
export DRIVE="$HOME/Documents/JVD Docs/Documents/"
export DEV="$HOME/Documents/Development"
export ANDROID_HOME="$DEV/lib/AndroidSDK"
export SCHOOL="$DRIVE/School/UVIC/2018"
export CSC="$DRIVE/School/UVIC/2018/CSC 230"

# Even Shorter Home Folders Switching
export DOCUMENTS="$HOME/Documents"
export DOWNLOADS="$HOME/Downloads"
export PICTURES="$HOME/Pictures"
export MUSIC="$HOME/Music"

# GO Path
export GOPATH=~/.go
export GOROOT=/usr/lib/go
export PATH=$PATH:$GOROOT/bin:$GOPATH/bin

# Allow Use of Windows Apps
if [[ $(hostname -s) = Jaxson-PC ]] || [[ $(hostname -s) = Jaxson-Thinkpad* ]]; then
    export PATH=$PATH:/mnt/c/Windows/System32
    alias javac="javac.exe"
    alias java="java.exe"
    alias emacs="emacs.exe"
    alias cmd="cmd.exe /c"
    alias ipconfig="cmd ipconfig"
    alias tasklist="cmd tasklist"
    alias taskkill="cmd taskkill /F"
fi

## Aliases

# Quick LS
alias l="ls -la"

# Use Neovim
alias vi="nvim"
alias vim="nvim"

# Fake DOS Style Commands
alias del="rm"
alias dir="l"

# Shorter Directory Switching
alias cb="cd .."
alias cl="cd -"
alias cr="cd /"
alias ch="cd ~"

# Tmux
alias tmux="tmux -2 -u"
alias tmuxw="tmux new-window -n"
alias close="tmux kill-server; exit"

# Google Drive
alias gdpl="drive-google pull -depth -1 -ignore-name-clashes -ignore-conflict"
alias gdpu="drive-google push -depth -1 -ignore-name-clashes -ignore-conflict"

# Mu
alias mupl="mu index --maildir=~/Mail/mbsync"

# Info
alias info="screenfetch"

# Better Mounting
alias mountiso="mount -t iso9660 -o loop"
alias mountntfs="mount -t ntfs"
alias unmount="umount"

# Screenshot
alias screenshot="scrot"

# Load NVM
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
