
export CHROME_DEVEL_SANDBOX="/opt/chrome/chrome_sandbox"

# Development Paths
export JAVA_HOME="/usr/lib/jvm/java-11-openjdk-amd64"
export JRE_HOME="$JAVA_HOME/jre"
export ANDROID_HOME="$DEV/lib/AndroidSDK"
export LD_LIBRARY_PATH="/usr/lib64"
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib
export LD_RUN_PATH=/usr/local/lib

# GPG Key
export GPG_TTY=$(tty)

# Tomcat Path
export CATALINA_HOME="/opt/tomcat"
export PATH=$PATH:$CATALINA_HOME/bin

# Gradle
export PATH=$PATH:/opt/gradle/gradle-6.6.1/bin

# Texlive
export PATH=/usr/local/texlive/2019/bin/x86_64-linux:$PATH

# Node
export PATH=$PATH:$NVM_BIN

# Lua
export LUA_HOME="$HOME/.luarocks"
export PATH=$PATH:$LUA_HOME/bin

# Python path
export PATH=$PATH:$HOME/.local/bin

# Linux Environment Paths
export HOME_DRIVE="/home/jaxson"

# Windows Subsystem Drive Path
if [[ $(hostname -s) = Jaxson-Thinkpad ]]; then
    export HOME_DRIVE="/mnt/d/"
fi

# More Paths
export DRIVE="$HOME/Documents/JVD Docs/Documents/"
export DEV="$HOME/Documents/Development"
export ANDROID_HOME="$DEV/lib/AndroidSDK"
export SCHOOL="$DRIVE/School/UVIC/2021/Spring"

# Even Shorter Home Folders Switching
export DOCUMENTS="$HOME/Documents"
export DOWNLOADS="$HOME/Downloads"
export PICTURES="$HOME/Pictures"
export MUSIC="$HOME/Music"

# GO Path
export GOPATH=~/.go
export GOROOT=/usr/local/go
export PATH=$PATH:$GOROOT/bin:$GOPATH/bin

# Allow Use of Windows Apps
if [[ $(hostname -s) = Jaxson-Thinkpad* ]]; then
    export PATH=$PATH:/mnt/c/Windows/System32
    alias javac="javac.exe"
    alias java="java.exe"
    alias emacs="emacs.exe"
    alias cmd="cmd.exe /c"
    alias ipconfig="cmd ipconfig"
    alias tasklist="cmd tasklist"
    alias taskkill="cmd taskkill /F"
fi

## Aliases

# Add an "alert" alias for long running commands
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

alias externalip="dig +short myip.opendns.com @resolver1.opendns.com"
# Quick LS
alias l="ls -la"

# Use Neovim
alias vi="nvim"
alias vim="nvim"

# Fake DOS Style Commands
alias del="rm"
alias dir="l"

# Shorter Directory Switching
function cd_up() {
  cd $(printf "%0.s../" $(seq 1 $1 ));
}
alias cl="cd -"
alias cr="cd /"
alias ch="cd ~"
alias 'cb'='cd_up'

# Tmux
alias tmux="tmux -2 -u"
alias tmuxw="tmux new-window -n"
alias close="tmux kill-server; exit"

# Google Drive
alias gdpl="drive pull -depth -1 -ignore-name-clashes -ignore-conflict"
alias gdpu="drive push -depth -1 -ignore-name-clashes -ignore-conflict"

# Mu
alias mupl="mu index --maildir=~/Mail/mbsync"

# Info
alias info="screenfetch"

# Better Mounting
alias mountiso="mount -t iso9660 -o loop"
alias mountntfs="mount -t ntfs"
alias unmount="umount"

# Screenshot
alias screenshot="scrot"

# Load NVM
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"	# This loads nvm bash_completion
