[submodule "wsltty/roaming/wsltty/theme"]
	path = wsltty/roaming/wsltty/theme
	url = https://github.com/dracula/mintty
[submodule "wsltty/roaming/wsltty/themes"]
	path = wsltty/roaming/wsltty/themes
	url = https://github.com/dracula/mintty
[submodule "tmux/.tmux/plugins/tmux-airline-wracula"]
	path = tmux/.tmux/plugins/tmux-airline-wracula
	url = https://github.com/woofers/tmux-airline-wracula
[submodule "shell/.oh-my-zsh/themes"]
	path = shell/.oh-my-zsh/themes
	url = https://github.com/woofers/wagnoster-zsh-theme
