[submodule "wsltty/roaming/wsltty/theme"]
	path = wsltty/roaming/wsltty/theme
	url = https://github.com/dracula/mintty
[submodule "wsltty/roaming/wsltty/themes"]
	path = wsltty/roaming/wsltty/themes
	url = https://github.com/dracula/mintty
[submodule "tmux/.tmux/plugins/tmux-airline-wracula"]
	path = tmux/.tmux/plugins/tmux-airline-wracula
	url = https://github.com/woofers/tmux-airline-wracula
[submodule "shell/.oh-my-zsh/themes"]
	path = shell/.oh-my-zsh/themes
	url = https://github.com/woofers/wagnoster-zsh-theme
[submodule "rofi"]
	path = rofi
	url = https://github.com/woofers/challenger-deep-rofi
[submodule "shell/dircolors-orange"]
	path = shell/dircolors-orange
	url = https://github.com/woofers/dircolors-orange
[submodule "steam/skins"]
	path = steam/skins
	url = https://gitlab.com/BurningSmile/Arc-Steam-Skin
[submodule "i3/scripts/spotify"]
	path = i3/scripts/spotify
	url = https://github.com/firatakandere/i3blocks-spotify
[submodule "scripts/spotify-cli"]
	path = scripts/spotify-cli
	url = https://github.com/pwittchen/spotify-cli-linux
[submodule "emacs/.emacs.d/non-elpa/challenger-deep"]
	path = emacs/.emacs.d/non-elpa/challenger-deep
	url = https://github.com/challenger-deep-theme/emacs
